{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content%}
<div class="container">
  <div class="row justify-content-around">
    <div class="col-s-12 col-md-6 col-lg-5 topcol">
      <form method="POST">
        <br></br>
        <h1 align="center"class="text-black p-2">Sign Up</h1>
        <br />
        <div class="mb-3">
          <label for="email" class="text-black">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
        </div>
        <div class="mb-3">
          <label for="firstName" class="text-black">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name"/>
        </div>
        <div class="mb-3">
          <label for="lastName" class="text-black">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name"/>
        </div>
        <div class="mb-3">
          <label for="password1" class="text-black">Create Password</label>
          <input type="password" autocomplete="new-password" class="form-control" id="password1" name="password1" placeholder="Must be at least 7 characters."/>
        </div>
        <div class="mb-3">
          <label for="password2" class="text-black">Confirm Password</label>
          <input type="password" autocomplete="new-password" class="form-control" id="password2" name="password2" placeholder="Confirm password"/>
        </div>
        <br />
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-8">
              <button type="submit" style="width:100%;" class="btn btn-primary" name="signup_button">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}