{% extends "base.html" %}

{% block title %}BreadcrumbTrail{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<link rel="stylesheet" href="{{ url_for('static', filename='user_map.css') }}">
{% endblock %}



{% block content%}
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="col my-sidebar">
      {% if active_trail %}
        <h2 style="text-align: center; margin-top: 0.5rem">{{ active_trail['name'] }}</h2>

        {% if user %}
          {% if user.is_authenticated %}
            {% if user.id == match.id %}
            <!--In Development-->
            <hr>
            <form class="form-inline savelocation" method="POST">
              <input class="form-control sidebar_buttons" type="number" style="width:100%" name="latitude" min="-90" max="90" placeholder="Latitude" aria-label="Latitude">
              <input class="form-control sidebar_buttons" type="number" style="width:100%"name="longitude" min="-180" max="180" placeholder="Longitude" aria-label="Longitude">
              <input class="form-control sidebar_buttons" style="width:100%" type="text" name="note" maxlength="300" placeholder="Message (optional)" aria-label="Note">
              <button class="btn btn-primary" style="margin-top:5px" type="submit" name="save_location">Check-In</button>
            </form>
            {% endif %}
          {% endif %}
        {% endif %}

        <!--Current Route: Most Recent Marker
        {% if active_trail['markers'] %}
        <hr>
        <h4 style="text-align: center; margin-top: 5px">Check-In #{{ active_trail['markers'][0]['marker_num'] }}</h4>
        <h5 style="text-align: center">{{ active_trail['date'] }} @{{ active_trail['time'] }}</h5>

        <h5 style="text-align: center">Latitude: {{'%0.4f'| format(active_trail['markers'][0]['lat']|float) }}</h5>
        <h5 style="text-align: center">Longitude: {{'%0.4f'| format(active_trail['markers'][0]['lon']|float) }}</h5>
          {% if unitmeasure == "Metric" %}
          <h5 style="text-align: center">Elevation: {{active_trail['markers'][0]['elevation']}}m</h5>
          {% else %}
          <h5 style="text-align: center">Elevation: {{ '%0.0f'| format((active_trail['markers'][0]['elevation'] / 0.3048|float))}}ft</h5>
          {% endif %}
        <h5 style="text-align: center">Weather: {{ active_trail['markers'][0]['weather'] }}</h5>
          {% if unitmeasure == "Metric" %}
          <h5 style="text-align: center">Temp: {{ '%0.2f'| format(active_trail['markers'][0]['temp'] -273.15|float) }}&#xb0;C</h5>
          {% else %}
          <h5 style="text-align: center">Temp: {{ '%0.2f'| format((active_trail['markers'][0]['temp'] -273.15) * 1.8 + 32|float)}}&#xb0;F</h5>
          {% endif %}
          <h5 style="text-align: center">Humidity: {{ active_trail['markers'][0]['humidity'] }}%</h5>
          <h5 style="text-align: center">Air Quality: {{ active_trail['markers'][0]['airquality'] }}</h5>
          <h5 style="text-align: center">Note: {{ active_trail['markers'][0]['note'] }}</h5>
        {% endif %}-->
      {% else %}
        <h2 style="text-align: center; margin-top: 0.5rem">No Trails</h2>
      {% endif %}

      {% if user %}
        {% if user.is_authenticated %}
          {% if user.id == match.id %}
          <hr>
          <form class="trail_list" method="POST">
            {% if user_trails is not none %}
              {% if user_trails|length == 0 %}
              <h3 style="text-align:center">Create a Trail!</h3>
              <input class="form-control sidebar_buttons" type="text" name="new_trail_name" placeholder="Trail Name" aria-label="Trail Name">
              <button class="btn btn-success sidebar_buttons" type="submit" name="create_trail">Create</button>
              {% else %}
              <input class="form-control sidebar_buttons" type="text" name="new_trail_name" placeholder="Trail Name" aria-label="Trail Name">
              <button class="btn btn-outline-success sidebar_buttons" type="submit" name="create_trail">New Trail</button>
              <!--Development Only
              <button class="btn btn-outline-success sidebar_buttons" type="submit" name="test_button">Test</button>-->
              {% endif %}
            {% endif %}
          </form>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if active_trail %}
      <hr>
      {% endif %}

      <form class="trail_list" method="POST">
      {% if user_trails %}
        {% if user_trails|length > 0%}
          <!--User Trails-->
          {%if active_trail %}
          <button class="btn btn-outline-primary sidebar_buttons" type="submit" name="select_trail" value="{{active_trail['id']}}">{{active_trail['name']}}</button>
          {% endif %}
          {% if user_trails|length > 1%}
            <div class="active list-unstyled components">
              <div href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-dark dropdown-toggle" id="trail_dropdown">Other Trails</div>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                {%for i in range(0, user_trails|length)%}
                  {%if user_trails[i]['id'] != active_trail['id'] %}
                    {%if not user_trails[i]['hidden'] %}
                    <li>
                      <button class="btn btn-outline-secondary sidebar_buttons" type="submit"  id="dropdown_items" name="select_trail" value="{{user_trails[i]['id']}}">{{user_trails[i]['name']}}</button>
                    </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
      </form>

    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div class='col custom-popup map-frame'id="map"></div>
    <button type="button" id="sidebarCollapse" class="btn btn-outline-dark" onclick="this.blur();">
        <i class="fas fa-align-left"></i>
        <span>&#9776;</span>
    </button>
  </div>
</div>


{% block script_body %}
{% if active_trail %}
  {% if active_trail['markers'] %}
  <!-- Center on first coordinate -->
  <script>
    var marker_data = JSON.parse('{{active_trail | tojson}}');

    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    var osmAtt = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    var basic = L.tileLayer(osmUrl, {attribution: osmAtt});

    var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
    var mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{mapbox_api}}';
    var nature = L.tileLayer(mbUrl, {id: 'mapbox/outdoors-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
    var satellite = L.tileLayer(mbUrl, {id: 'mapbox/satellite-streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});

    var map = L.map('map', {
      center: [marker_data['markers'][0].lat, marker_data['markers'][0].lon],
      zoom: 12,
      layers: [basic, satellite, nature]
    });

    var baseLayers = {
      'Basic': basic,
      'Satellite': satellite,
      'Topography': nature
    };
    var layerControl = L.control.layers(baseLayers).addTo(map);
  </script>

  <!-- Add Markers and Lines -->
  <script>
    var checkin_icon = L.icon({
      iconUrl: '/static/images/dot.png',
      iconSize: [24, 24],
      iconAnchor: [12,12],
      popupAnchor: [0, -8]
    })

    var latlngs = [];
    var i = 0;
    {% for marker in active_trail['markers'] %}
      {% if unitmeasure == "Metric" %}
      var temp = "{{ '%0.2f'| format(marker['temp'] -273.15|float) }}&#xb0;C";
      var elevation = "{{ marker['elevation'] }}m";
      {% else %}
      var temp = "{{ '%0.2f'| format((marker['temp'] -273.15) * 1.8 + 32|float)}}&#xb0;F";
      var elevation = "{{ '%0.0f'| format(marker['elevation'] / 0.3048|float) }}ft";
      {% endif %}

      var popup_data = `
        <h4>Check-In #{{ marker['marker_num'] }}</h4> <hr style="background-color:white">
        {{ marker['date'] }} @{{ marker['time'] }} <br>
        Coords: {{ marker['lat'] }}, {{ marker['lon'] }} <br>
        Elevation: ${elevation} <br>
        Weather: {{ marker['weather'] }} <br>
        Temp: ${temp} <br>
        Humidity: {{ marker['humidity'] }}% <br>
        Air Quality: {{ marker['airquality'] }} <hr style="background-color:white">
        {% if marker['note']|length >0 %}
        Note: {{ marker['note'] }}
        {% endif %}
      `
      if (i == 0) {
        L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map).bindPopup(popup_data).openPopup();
      } else {
        L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], {icon:checkin_icon}).addTo(map).bindPopup(popup_data);
      }
      i++;

      latlngs.push([{{marker['lat']}}, {{marker['lon']}}]);
    {% endfor %}

    var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
  </script>

  {% else %}

  <script>
    var map = L.map('map', {
      center: [43.8041, -120.5542],
      zoom: 7
    });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  </script>
  {% endif %}
{% else %}
<script>
  var map = L.map('map', {
    center: [43.8041, -120.5542],
    zoom: 7
  });
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
</script>
{% endif %}

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
});
</script>

<script>
window.setTimeout(function() {
  map.invalidateSize();
}, 2000);
</script>
{% endblock %}
{% endblock %}