#map {
  height: calc(100vh - 84px); /* 29px: footer height, 54px: navbar height*/ 
  width: 100%;
  
  margin-top: 1px;
}

.my-sidebar {
  -ms-flex: 0 0 15vw;
  flex: 0 0 15vw;
  height: calc(100vh - 84px);
  overflow-y:auto;
  min-width: 12rem;
}

.savelocation {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.trail_list {
  margin-top: 1rem;
  display:flex;
  align-items:center;
  flex-direction:column;
}

.sidebar_buttons {
  margin-top: 0.25rem;
  width: 100%;
  text-align: center;
}


.custom-popup, .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background:#343a40;
  color:#fff;
  font-size:16px;
  line-height:24px;
  outline: #fff solid 1px;
  text-align: left;
}
